/* CSS Document */

html {
    height:100%;
    overflow:auto;
    box-sizing: border-box;
    background-color: #fff;
    color: #5a5a5a;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

body {
  font-family: 'Lato', 'Arial', sans-serif !important;
  margin: 0 ;
  font-size: 18px;
  height: 100%;
}

.titleTxt {
  margin-top: 91px;
}


h1, h2, h3, h5{
    font-family: Verdana !important;
    margin: 0;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-section {
  padding:18px 80px 700px 60px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url("../static/aboutus_photo.jpg");
  background-position: bottom center;
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
}

.header {
  overflow: hidden;
  background-color:transparent ;
  padding: 20px 10px;
  position:fixed;
}

.header a {
  float: left;
  color: #bfbfbf;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Lato', 'Arial', sans-serif !important;
  margin: auto;
  font-size: 20px;
  
}

.header a:hover {
  background-color: #ACDF87;
  color: black;
  transition: 0.3s;

}

.header a.active {
  background-color: darkgreen;
  color: white;
}

#btnScrollToTop{
    position:fixed;
    background-color: darkgreen;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    width: 50px;
    right: 10px;
    bottom: 10px;
    height: 50px;   
}

.textover {
  position: relative;
}

.textover img { 
  width: 100%; 
}

.textover {
  position: relative;
}

.textover figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
}

.textover figcaption {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: right;
}

.container{
padding-right:230px;
padding-left:230px;
margin-right:auto;
margin-left:auto}

.textcontent{
	font-size: 17px;
}

.row{
	margin-right:-15px;
	margin-left:-15px
}

.contactform{
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
}

.form-group{
    margin-bottom:15px
}

.text-center{
	text-align:center
}

img{
	border:0
}

.list-inline{
	padding-left:0;
	margin-left:-5px;
	list-style:none
}

.list-inline>li{
	display:inline-block;
	padding-right:5px;
	padding-left:5px
}

a{
	text-decoration:none
} 

a:hover{
	text-decoration:none
}

input[type=text], textarea {
    width: 100%;
	height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #19422A;
}

.textcontact{
	font-size: 17px;
}

.textteam{
	font-size: 17px;
}

