{% extends "base.html" %} {% block title %}About Us | Capital Greenspaces Project - Group 6{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>

  <!-----head----->
  
  <head>
    
    <title>About Us</title>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutusstyle.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <!-----Body----->
  
  <body>
      <!-- start menu -->
      <div class="header">
        <nav>
          <a href="{{ url_for('views.home') }}">Home</a>
          <a href="{{ url_for('webmap.web_map') }}">Interactive Webmap</a>
          <a href="{{ url_for('query.index') }}">Query and Download</a>
          <a class="active" href="{{ url_for('team.aboutus') }}">About Us</a>
        </nav>
      </div>
      <!-- end menu -->
		
      <!-- start view img -->
      <div class="about-section">
	<div class="Titletxt">
	  <br><br><br><br><br><br><br><br><br><br>
	  <h1>
	    <center>About Us
	    </center>
	  </h1>
	</div>
      </div>
      <figure class="textover">
	<figcaption>Photo by <a href="https://unsplash.com/photos/T9luNxtxVjY" alt="Photographer of image" target="_blank">Lee Chalmers</a> on Unsplash</figcaption>
      </figure>
      <br>
	
		
<!--  Start what we do Section
      ==================================== -->
      <section id="what_we_do">
	<div class="container">
	  <div class="row">

	    <!-- section title -->
	      <div class="text-center" align="center">
		<hr>
		<font size="+1" color="#448D38"><p>WHAT WE DO</p></font>
		<font size="+3" color="#19422A"><b>What You Can Get From Us</b></font>
		<hr>
              </div>
	    </div>
	    <!-- /section title -->

	    <!-- About item -->
	    <table align="center"><tr align="center"><td width="350" align="center">
		    <div class="block">
		      <div class="icon-box" align="center">
			<a href={{ url_for('webmap.web_map') }}><img src="static/map.png" alt="map image" width="150"></a>
		      </div>
		      <!-- Express About Yourself -->
		      <div>
			<p><font size="+2">ARQI Map</font></p>
			<p class="textcontent" align="left">The map is created using the folium library,<br> and the specific information of greenspaces and data zones is dynamically displayed.</p>
		      </div>
		    </div>
		  </div> 
		  <!-- End About item -->

		</td><td width="350" align="center">

		  <!-- About item -->
		    <div id="block1">
		      <div id="icon-box1" align="center">
			<a href="{{ url_for('query.index') }}"><img src="static/query.png" alt="query image" width="150"></a>
		      </div>
		      <!-- Express About Yourself -->
		      <div id="content text-center1">
			<p><font size="+2">Query Function</font></p>
			<p class="textcontent" align="left">We connect the database to the HTML page. At the same time, users can make inquiries based on different needs.</p>
		      </div>
		    </div>
		  </div>
		  <!-- End About item -->

		</td><td width="350" align="center">

		  <!-- About item -->
		    <div id="block2" align="center">
		      <div id="icon-box2">
			<a href="{{ url_for('query.index') }}"><img src="static/download.png" alt="download image" width="150"></a>
		      </div>
		      <!-- Express About Yourself -->
		      <div id="content text-center2">
			<p><font size="+2">Download</font></p>
			<p class="textcontent" align="left">On our page, we provide links so that users can download data and information about ARQI, including our research reports and databases.</p>
		      </div>
		    </div>
		  </div>
		  <!-- End About item -->
	    </td></tr></table>

	  </div> 		<!-- End row -->
	</div>   	<!-- End container -->
      </section>   <!-- End section -->

      <!-- Start Our Team Section
      =========================================== -->
      <section id="our-team"  align="center" style="background: #E9F5E9">
	<div class="container">
	  <div class="row" >

	    <!-- section title -->
	    <div class="text-center">
	      <hr>
	      <font size="+1" color="#19422A"><p>Our Creative Team</p></font>
	      <font size="+3" color="#448D38"><b>Meet Our Team</b></font>
	      <hr>
	    </div>
	    <!-- /section title -->

	    <!-- team member -->
	    <table align="center"><tr align="center"><td align="center">
		  <div id="team-member1">
		    <div id="member-photo1">
		      <!-- member photo -->
		      <img src="static/victoria.png" alt="team member" width="215" height="215" />
				  <!-- /member photo -->
			    </div>
					
				<!-- member name & designation -->
				<div id="member-meta1">
				  <h4>Victoria Song</h4>
			      <span class="textteam">Team Leader</span>
				  <p class="textteam">Front-end and back-end developments:<br> website design and the creation of <br>a web application to query the database</p>
				  <p class="textteam"><a href="https://www.linkedin.com/in/victoria-song-130761172/" target="_blank"><font color="#448D38"><b>Get in touch →</b></font></a></p>
                </div>
				<!-- /member name & designation -->
				<!-- /about member -->
				 
                </div>
			    <!-- end team member -->
				</td></tr></table>
			
				<table align="center"><tr><td width="250">
			    <!-- team member -->
                <div id="team-member2" align="center">
			      <div id="member-photo2">
					<!-- member photo -->
					<img src="static/attila.png" alt="team member" width="215" height="215" />
					<!-- /member photo -->
				  </div>
					
				  <!-- member name & designation -->
				  <div id="member-meta2">
					<h4>Attila Lukacs</h4>
					<span class="textteam">Team Member</span>
					<p class="textteam">Back-end developer, created the web app, the interactive webmap and the SQL database       </p>
					<p class="textteam"><a href="https://www.linkedin.com/in/lukacs-attila/" target="_blank"><font color="#448D38"><b>Get in touch →</b></font></a></p>
                  </div>
				</div>
			    <!-- end team member -->
			
				</td>
                <td width="250">
					
			    <!-- team member -->
                <div id="team-member3" align="center">
				  <div id="member-photo3">
					<!-- member photo -->
					<img src="static/dorina.png" alt="team member" width="215" height="215" />
					<!-- /member photo -->
				  </div>
					
				  <!-- member name & designation -->
				  <div id="member-meta3">
					<h4>Dorina Mosneanu</h4>
				      <span class="textteam">Team Member</span>
					  <p class="textteam">Back-end developer: <br>Contributions to the creation of<br>the interactive webmap</p>
					  <p class="textteam"><a href="https://www.linkedin.com/in/dorina-mo%C5%9Fneanu-340b9a6b/" target="_blank"><font color="#448D38"><b>Get in touch →</b></font></a></p>
                  </div>
				  <!-- /member name & designation -->
				  <!-- /about member -->
                </div>
			    <!-- end team member -->
			
				</td>
                <td width="250">
					
			    <!-- team member -->
                <div id="team-member4" align="center">
				  <div id="member-photo4">
					<!-- member photo -->
					<img src="static/yixue.png" alt="team member" width="215" height="215" />
					<!-- /member photo -->
				  </div>
					
				  <!-- member name & designation -->
				  <div id="member-meta4">
					<h4>Yixue Wang</h4>
					  <span class="textteam">Team Member</span>
					  <p class="textteam">Front-end development,<br> design and improvement of webpages</p>
					  <p class="textteam"><a href="https://www.linkedin.com/in/yixue-wang-7b4aa9227/" target="_blank"><font color="#448D38"><b>Get in touch →</b></font></a></p>
                  </div>
				  <!-- /member name & designation -->
				  <!-- /about member -->
                </div>
			    <!-- end team member -->
			
				</td>
                <td width="250">
					
			    <!-- team member -->
                <div id="team-member5" align="center">
				  <div id="member-photo5">
					<!-- member photo -->
					<img src="static/georgie.png" alt="team member" width="215" height="215" />
					<!-- /member photo -->
				  </div>
					
				  <!-- member name & designation -->
				  <div id="member-meta5">
					<h4>Georgie Mills</h4>
					<span class="textteam">Team Member</span>
					<p class="textteam">Contributions to the creation of the index and the writing of the report</p>
					<p class="textteam"><a href="https://www.linkedin.com/in/georgie-mills-074253198/" target="_blank"><font color="#448D38"><b>Get in touch →</b></font></a></p>
                  </div>
			      <!-- /member name & designation -->
				  <!-- /about member -->
                </div>
			    <!-- end team member -->
			    </td></tr></table>
		  </div>  	<!-- End row -->
	    </div>   	<!-- End container -->
      </section>   <!-- End section -->

      <!-- 
      Start Contact Section
      =========================================== -->
      <section id="Contact Us">
		<div id="about-contact">
          <div class="container">
            <div class="row">
              <div class="text-center" align="center">
                <hr>
				<font size="+3"><b><font color="#448D38">Contact</font> Us</b></font>
				<p><font size="+1">Couldn't find what you were looking for? Or have a great idea?<br> We value your feedback and want to hear from you. <br>Find our contact information below or use our Contact Form.</font></p>
                <hr>
              </div>

			  <table align="center"><tr><td>
              <div class="contactform">
                <div id="about-contact-map"> </div>
				  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2234.1068709586334!2d-3.184493433065796!3d55.94751958276272!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7867af4d627%3A0x6480c21767440089!2sOld%20Infirmary%20Building%2C%201%20Drummond%20St%2C%20Edinburgh%20EH8%209XP!5e0!3m2!1sen!2suk!4v1639659968679!5m2!1sen!2suk" width="700" height="410" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="clearfix"></div>
                  <i>You can find us on Old Infirmary Building, 1 Drummond St, Edinburgh EH8 9XP.</i>
                </div>
			  </td>
			  <td width="400">
              <div id="contact_right">
                <p class="textcontact"><img src="static/location.png" alt="icon" width="20" height="20" /> Old Infirmary Building, 1 Drummond St, Edinburgh EH8 9XP.</p>
                <p class="textcontact"><img src="static/phone.png"  alt="icon" width="20" height="20"/> +44 (0) 131 651 7068</p>
			    <p class="textcontact"><img src="static/email.png"  alt="icon" width="20" height="20"/><a href="mailto:enquiries.geos@ed.ac.uk"> enquiries.geos@ed.ac.uk </a></p>
                <p class="textcontact"><img src="static/web.png" alt="icon" width="20" height="20"/><a  href="https://www.ed.ac.uk/geosciences" target="_blank"> https://www.ed.ac.uk/geosciences</a></p>
         
			    <div align="right">
                  <form action="https://formsubmit.co/s1729202@ed.ac.uk" method="post">
                    <input type="text" name="user name" class="form-control" placeholder="Your Name..." maxlength="40" style="width: 500px;" required/>
                    <input type="email" name="email" class="form-control" placeholder="  Your Email..." style="width: 500px;" required />
                    <textarea type="text" name="user message" class="form-control" style="height: 130px;" placeholder="Write down your message..." style="width: 500px;" required></textarea>
		    <input type="hidden" name="_next" value="https://www.geos.ed.ac.uk/dev/ARQI/aboutus"/>
                    <button type="submit" style="background-color:#19422A"><font color="#FFFFFF">SEND</font></button>
                  </form>
                </div>
			  </div>
			  </td></tr></table>
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /#about-contact -->
	  </section><!-- End section -->

	  <!-- 
      Start Contact Section
      =========================================== -->
	  <section id="more information">
        <div id="about-more" style="background-color:#F4F3EF">
          <div class="container">
            <div class="row">

              <div id="about-line-header" >
                <div class="text-center" align="center">
				  <hr>
                  <font size="+3"><b>More <font color="#448D38">Information</font></b></font>
				  <br>
				  <p><font size="+1">Visit our partner websites to learn more about the greenspaces in Edinburgh ...</font></p>
                  <hr>
                </div>
              </div>
					
              <div class="text-center">
                <div style="margin-top:60px;">
                  <ul class="list-inline">
					<table align="center"><tr><td width="240" align="center">
                    <li id="about-more-item1">
				      <div align="center"><a href="https://www.geos.ed.ac.uk/~s2259785/home.html" target="_blank"><img src="static/carbon.png" alt="carbon management" width="150" height="150" /></a></div>
                      <a class="textcontent" href="https://www.geos.ed.ac.uk/~s2259785/home.html" target="_blank">Value in terms of <br> a carbon sink</a>
                    </li>
					</td>
					<td width="240" align="center">
                      <li id="about-more-item2">
						<div align="center"><a href="https://www.geos.ed.ac.uk/~s1739577/cgs/home.html" target="_blank"><img src="static/flood.png" alt="flood management" width="150" height="150" /></a></div>
                        <a class="textcontent" href="https://www.geos.ed.ac.uk/~s1739577/cgs/home.html" target="_blank">Flood <br> management</a>
                      </li>
					</td>
					<td width="240" align="center">
                      <li id="about-more-item3">
						<div align="center"><a href="https://www.geos.ed.ac.uk/~s2013902/Ecology_home.html" target="_blank"><img src="static/eco.png" alt="ecological management" width="150" height="150" /></a></div>
                        <a class="textcontent" href="https://www.geos.ed.ac.uk/~s2013902/Ecology_home.html" target="_blank">Ecological <br> significance</a>
                      </li>
					</td>
					<td width="240" align="center">
                      <li id="about-more-item4">
						<div align="center"><a href="https://www.geos.ed.ac.uk/~s2126397/GS_Web/GSHome.html" target="_blank"><img src="static/noice.png" alt="pollution" width="150" height="150" /></a></div>
                        <a class="textcontent" href="https://www.geos.ed.ac.uk/~s2126397/GS_Web/GSHome.html" target="_blank">Reducing <br> pollution</a>
                      </li>
					</td>
					<td width="240" align="center">
                      <li id="about-more-item5">
						<div align="center"><a href="https://www.geos.ed.ac.uk/~s1737656/cgshealth" target="_blank"><img src="static/health.png" alt="health" width="150" height="150" /></a></div>
                        <a class="textcontent" href="https://www.geos.ed.ac.uk/~s1737656/cgshealth" target="_blank">Health <br> benefits</a>
                      </li>
					</td>
					<td width="240" align="center">
                      <li id="about-more-item6">
						<div align="center"><a href="https://www.geos.ed.ac.uk/~s1997205/web-map/home.html" target="_blank"><img src="static/ch.png" alt="cultural heritage" width="150" height="150" /></a></div>
                        <a class="textcontent" href="https://www.geos.ed.ac.uk/~s1997205/web-map/home.html" target="_blank">Cultural and <br>historical value</a>
                      </li>
					</td></tr></table>
                  </ul>
                </div>
			  </div>
            </div>
          </div>
        </div>
	  </section><!-- End section -->
		
	  <!--- bottom -->
      <div>
	    <hr>
	  </div>
	  <div class="footer_bottom_content" style="background-color:#19422A">
	    
          <span id="footer-line" style="line-height:100px"><font color="#FFFFFF"><center>Design © 2021 Group 6 ARQI,<a href="https://www.ed.ac.uk/geosciences" target="_blank"> School of GeoSciences, The University of Edinburgh<br><img align="center" src="static/GeoSciences_white.png" alt="University logo" width="auto" height="85" object-fit="scale-down" /></a></center></font></span>
		</div>
      </div>
		


  </body>
</html>

{% endblock %}
