{% extends "base.html" %} {% block title %}Query and Download{% endblock %}
{% block content %}

<!DOCTYPE html>

<html>
  <head>
    <html lang="en-GB">
    <meta charset="UTF-8">
    <title>Query and Download</title>
    <!-- Import stylesheets -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="static/webpage_style.css">

    <style>
      .about-section {
  padding:18px 80px 700px 60px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url("static/query_photo.png");
  background-position: bottom center;
  background-size:cover;
  background-repeat: no-repeat;
  color: white;
}

/* Center Image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
      </style>
    
  </head>
 
  <body>
    <!-- Creation of interactive header-->
    <div class="header">
      <nav>
        <a href="/">Home</a>
        <a href="/webmap">Interactive Webmap</a>
        <a class="active" href="/data">Query and Download</a>
        <a href="/aboutus">About Us</a>
      </nav>
    </div>

    <!-- Creation of About-Section Banner Image and Title -->
      <div class="about-section">
      <div class="Titletxt">
        <br><br><br><br><br><br><br><br><br><br>
        <h1><center>Dynamic Query and Data Download</center></h1>
      </div>
      </div>
    <!-- Captions over images -->
      <figure class="textover">
      <figcaption>Photo by <a href="https://unsplash.com/photos/RdE2UobZxx8?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditShareLink" alt="Photographer of image" target="_blank">Micaela Parente</a> on Unsplash</figcaption>
      </figure>
      <hr> <! -- Create thematic line break -->

    <!-- Container for dynamic query functionality -->
      <section style="background-color: #E9F5E9">
	<hr>
	<div class="w3-row-padding">
	     <h1><center><font color="#448D38">Dynamic Querying</font></center></h1><br>
	     <h3><center>Looking for data specific to a greenspace? Have a look from these drop-down menus. Simply select a greenspace and a choice of three 'services'.</center></h3>
	     <br>
	     <center>
		 <ul><b>Provision</b>: information on the presence or absence of recreational quality features</ul>
		 <ul><b>Quality</b>: information on the quality score and grade of the greenspace</ul>
		 <ul><b>Service Areas</b>: information on the datazones accessible to the selected greenspace within a 20-minutes walk</ul>
	     </center>
	     <hr>
	</div>
	

    <!-- Print out query content from child template -->
	<br>
	
   <!-- Design of HTML form (to pass data to server side) -->
<center>
<form id = "greenspaceServices" method="POST" action="/submitted">
<label for="greenspace" style="font-size: 20px">Choose a greenspace:</label>
<select name="greenspace" id="greenspace">
  {% for greenspace in greenspaces %}
  <option value={{greenspace}}>{{greenspace}}</option>
  {% endfor %}
</select>
<p>
<label for="service" style="font-size: 20px">Choose a service:</label>
<select name="service" id="service" style="font-size: 18px">
  <option value="provisions">Provisions</option>
  <option value="quality">Quality</option>
  <option value="serviceAreas">Service Areas</option>
</select>
</p>
<br>
<button class="btn">Submit</button>
</form>

<!-- Design another form and button to redirect back to the mainpage (to enable infinite queries) -->
<form id="resubmit" action="/data" method='POST'>
    <button class="btn" style= "width:130px">Resubmit<a href="{{url_for('query.index')}}"></button></a>
</form>

<br>
<!-- Table display design -->

<table>
  <tbody>
    <tr>
    <td>{{ query }}</td>
    </tr>
  </tbody>
  </table>
	
      </section>
      <br>
      
      
    <! -- Creation of another section -->
      <! -- Data Download -->
      <section>
      <center><h1><font color="#448D38">Data Download</font></h1></center><br>
      <center><h3>Full datasets of each of the three 'services' offered are available to be freely downloaded for your use. Available in CSV format.</h3></center> 
      <hr>
      <div class="w3-row-padding">
	  <center><img src="/static/query_download.png" alt="Download cloud" style="width:100%; height:300px;object-fit:scale-down;margin: 0px; padding: 0px;"</center>	 
      <div class="w3-third w3-container w3-margin-bottom">
	  <h3><a href="/static/greenspaces_service_areas.csv" download>Greenspace Service Areas (City of Edinburgh)</a></h3>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
	  <h3><a href="/static/greenspace_quality.csv" download>Greenspace Quality (City of Edinburgh)</a></h3>
	  <h5><i>Refer to the <a href="https://www.edinburgh.gov.uk/downloads/file/30233/parks-quality-report-2021" alt="Link to Green Flag Award Report 2021" target="_blank">Green Flag Award Report (2021)</a> for further information on greenspace grades</i></h5>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
	  <h3><a href="/static/greenspace_provisions.csv" download>Greenspace Provisions (City of Edinburgh)</a></h3>
      </div>
      </div>
      </section>
      <hr>
	     
      


<!-- Footer -->
<div class="footer_bottom_content" style="background-color:#19422A">
      <span id="footer-line" style="line-height:100px">
	<font color="#FFFFFF"><center>Design © 2021 Group 6 ARQI,<a href="https://www.ed.ac.uk/geosciences" target="_blank"> School of GeoSciences, The University of Edinburgh<br><img align="center" src="static/GeoSciences_white.png" alt="University logo" width="auto" height="85" object-fit="scale-down" /></a></center></font></span>
    
   
  </body>
  {% endblock %}
  </html>



